In [1]:
import pandas as pd
from azure_connectors import AzureSqlConnection
import polars as pl
import sqlalchemy
from sqlalchemy import (
    Table,
    Column,
    Integer,
    String,
    MetaData,
    PrimaryKeyConstraint,
    text,
)

In [2]:
sql_info = AzureSqlConnection.from_env()
engine: sqlalchemy.Engine = sql_info.engine

In [3]:
# # 2. Sample DataFrame with 'id' column
# data = {"id": [1, 2, 3], "name": ["Alice", "Bob", "Charlie"], "age": [25, 30, 35]}
# df = pd.DataFrame(data)

# # 3. Define dtype mapping including 'id'
# dtype_mapping = {"id": Integer(), "name": String(50), "age": Integer()}

# # 4. Insert data with IDENTITY_INSERT enabled
# with engine.begin() as connection:
#     try:
#         # Enable IDENTITY_INSERT
#         connection.execute(text("SET IDENTITY_INSERT detailed_upload_test ON;"))

#         # Insert data
#         df.to_sql(
#             "detailed_upload_test",
#             con=connection,
#             if_exists="",
#             index=False,
#             dtype=dtype_mapping,
#         )

#         print("Data inserted successfully with explicit 'id' values.")

#     except Exception as e:
#         print(f"Error during data insertion: {e}")
#         # The transaction will automatically rollback on exception
#     finally:
#         # Disable IDENTITY_INSERT
#         connection.execute(text("SET IDENTITY_INSERT detailed_upload_test OFF;"))

# With SQLAlchemy MetaData

# New code

In [4]:
from azure_connectors.dataframe_io.write import write_df_from_sqltable
from sqlalchemy import Table, Column, Integer, String, MetaData, PrimaryKeyConstraint, Flo

In [5]:
metadata = MetaData()

In [6]:
test_table = Table(
    "metadata_test",
    metadata,
    Column("id", Integer, primary_key=True),
    Column("name", String(50, collation="Latin1_General_CI_AI"), nullable=False),
    Column("age", Integer, nullable=False),
)

In [7]:
data = {"id": [1, 2, 3], "name": ["Alice", "Bob", "Charlie"], "age": [25, 30, 35]}
df = pl.DataFrame(data)

In [8]:
df

shape: (3, 3)
┌─────┬─────────┬─────┐
│ id  ┆ name    ┆ age │
│ --- ┆ ---     ┆ --- │
│ i64 ┆ str     ┆ i64 │
╞═════╪═════════╪═════╡
│ 1   ┆ Alice   ┆ 25  │
│ 2   ┆ Bob     ┆ 30  │
│ 3   ┆ Charlie ┆ 35  │
└─────┴─────────┴─────┘

In [9]:
write_df_from_sqltable(df, if_table_exists="append", table=test_table)